@charset "utf-8";

/* リセットcss */
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #232323;
  background: #f2eee7;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
/* リセットcss */

/* header */

.header_logo {
  width: 120px;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 3%;
  width: 100%;
  box-sizing: border-box;
}
.pc_nav ul {
  display: flex;
  width: 670px;
}
.pc_nav ul li {
  margin-right: 35px;
}
.fv_wrap {
  position: relative;
}
.fv_text {
  width: 49.2%;
  height: 380px;
  position: absolute;
  top: 25px;
  right: 25px;
}
.text_box {
  width: 15px;
  height: 30px;
  margin-right: 5px;
  background-color: #232323;
}
.text_top {
  display: flex;
  margin-bottom: 6px;
  font-weight: bold;
  align-items: flex-end;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 1000px;
  margin: 0 auto;
}
.name_large {
  font-size: 30px;
}
.name_middle {
  font-size: 20px;
  padding-left: 15px;
}
.text_inner p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.text_inner {
  width: 1000px;
  margin: 0 auto;
}
.copyright {
  width: 155px;
  height: 14px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
}
