@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
/* リセットcssここまで */

body {
  background: #eeeeee;
}

h1 {
  text-align: center;
  margin: 60px;
}

h1,
h2 {
  color: darkcyan;
}

ul {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

li {
  margin: 10px 10px;
  background-color: white;
}

p {
  margin: 10px;
}

.wrap {
  display: flex;
  align-items: center;
}

.wrap div {
  align-items: center;
  width: 10px;
  height: 30px;
  margin: 10px;
  background-color: darkcyan;
}

@media screen and (max-width: 400px) {
  ul {
    flex-direction: column;
  }

  li {
    margin: 10px;
  }
  img {
    width: 100%;
  }
}
