@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

/* スムーススクロール */
/* PAGETOPを押した時にスムーズにスクロールされる */
html {
  scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  /*  */
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
/* リセットcss 終了 */

/* ヘッダー 泉先生と作成 */
body {
  background: #e8d9bf;
}

.header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7% 0 3%;
  width: 100%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

/* スライダー調整 */
.slick-dots {
  bottom: 20px;
  /* 画像より下にあった・・を画像内に持ってくる */
  /* デフォルトは−25px */
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  /* ボタンの色を白にする */
  /* ↑検証ツールから値をコピペする */
  /* ボタンがアクティブしている方としていない方 */
  color: #fff;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
  /* デフォルトのmarginを０にする */
}

/* 授業 */
.sp_nav,
.sp_btn {
  display: none;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  text-align: center;
}

/* ここから作成 */
/* lead */
/* 修正点：divの中にテキストだけを入れることはしない。適切なタグがなくデザインの扱いとして必要であれば使っても良い。
今回は全てpタグへ変更 */
.lead {
  text-align: center;
  padding-top: 100px;
  max-width: 1000px;
  margin: 0 auto;
}

.lead_top {
  margin-bottom: 52px;
  font-size: 30px;
}

.lead_body {
  font-size: 82px;
  line-height: 96px;
  letter-spacing: 0.1em;
}
.lead_foot {
  margin-top: 30px;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 0.1em;
}
.lead_sp_only {
  display: none;
}
/* about */
/* about_imgに横幅の指定が入っていない。画面幅縮めた時の見え方を意識 */
/* about_imgにwidth:50%;を追加 */
/* about_img imgのmax-width:500px;を削除 */
.about {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 100px;
}
.about_wrap {
  /* 検証ツールでabout_wrapにカーソルを当てた時に420x560と表示されているので */
  /* width:42%;を追加 */
  width: 42%;
  /* 画面幅縮めた時に余白が大きく見えてしまう。ここも％で表示 */
  /* 80pxから8%に変更 */
  margin-left: 8%;
}
.about h2 {
  /* imgにかけていたものをh2に移動 */
  width: 272px;
  margin-top: 50px;
  margin-bottom: 40px;
}
/* .about_wrap img {
  イメージに直接widthや余白を指定しない。
  全てh2へ移動
  width: 272px;
  margin-top: 50px;
  margin-bottom: 40px;
} */
.about_heading {
  font-size: 44px;
  line-height: 61px;
  margin-bottom: 10px;
}
.about_text {
  font-size: 16px;
  line-height: 26px;
}
.about_sp_only h2 {
  display: none;
}
.about_img_sp {
  display: none;
}
.about_text_only {
  display: none;
}
.about_img img {
  border-bottom-right-radius: 80px;
}

/* menu */
.menu {
  /* テキストは左寄せ */
  /* text-align: center; */
  padding-top: 100px;
}
.menu h2 {
  /* 追加　（menu_logo imgは削除） */
  width: 151px;
  margin: 0 auto;
  padding-bottom: 40px;
}
/* .menu_logo img {
  imgにwidthをかけるのではなく、imgを囲っているclassにwidthをかける
  imgは100%表示にしないとSP版の時におかしくなるので
  width: 151px;　削除して親へ移動
  padding-bottom: 40px; 削除してmenu_logoへ移動
  } */
.menu ul {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  /* 追加 */
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  /* 30%が崩れてしまうので削除 */
  /* box-sizing: border-box; */
}
.menu li {
  /* imgに指定していたものをここに移動 */
  width: 30%;
  /* 削除 */
  /* margin: 0 auto; */
}
.menu li img {
  border-top-right-radius: 40px;
  width: 100%;
}
/* .menu_wrap img {
  imgに指定しない親へ移動
  width: 300px; 
  border-top-right-radius: 40px;
} */
.menu h3 {
  font-size: 38px;
  line-height: 22px;
  margin-top: -10px;
  margin-left: 15px;
  /* 削除 */
  /* text-align: left; */
  color: #d30202;
  /* h3にすると太字になる為以下を追加する */
  font-weight: normal;
}
.menu li p {
  font-size: 17px;
  line-height: 25px;
  text-align: left;
  margin-top: 24px;
}

/* gallery */
.gallery {
  text-align: center;
  padding-top: 80px;
}
/* .gallery_logo img { */
/* imgからh2に変更 */
.gallery h2 {
  width: 245px;
  padding-bottom: 25px;
  margin: 0 auto;
}
.gallery_wrap {
  display: flex;
  /* 削除 */
  /* width: 20%; */
}
/* .gallery_wrap img {
  width: 20%;
} */
.slick-prev,
.slick-next {
  position: absolute; /*絶対配置にする*/
  z-index: 3;
  top: 42%;
  cursor: pointer; /*マウスカーソルを指マークに*/
  outline: none; /*クリックをしたら出てくる枠線を消す*/
  border-top: 3px solid #fff; /*矢印の色*/
  border-right: 3px solid #fff; /*矢印の色*/
  height: 18px;
  width: 18px;
}
.slick-next {
  margin-right: 400px;
}
.slick-prev {
  margin-left: 400px;
}

.slick-next:before {
  content: none;
}
.slick-prev:before {
  content: none;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}
/* event */
.event {
  /* 削除  */
  /* text-align: center; */
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 50px;
}
/* .event_logo img { */
/* img指定していたものをh2へ移動 */
.event h2 {
  width: 173px;
  margin-bottom: 40px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.event ul {
  border: solid 3px;
  background: #fff;
  max-width: 1000px;
  padding: 30px;
}
.event time {
  margin-right: 45px;
}
/* 削除 */
/* .text_wrap div {
  margin-right: 60px;
} */
.event ul li {
  display: flex;
  font-size: 23px;
  margin-left: 150px;
}
.event ul li + li {
  margin-top: 20px;
}

/* 削除 */
/* リンクに飛ぶようにするため下線を引かず以下の項目を追加 */
/* .text_wrap p {
  border-bottom: solid#4F260B;
} */
/* ボーダーを指定するときは、太さ・種類・カラー */
/* 追加 */
.event a {
  text-decoration: underline;
}

/* access */
.access {
  text-align: center;
  padding-top: 60px;
}

/* .access_rogo img { */
/* imgからh2へ移動 */
.access h2 {
  width: 213px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.access_map iframe {
  width: 100%;
  height: 470px; /*  追加 iframeが2px下に入ってしまうのを防ぐために入れる */
  display: block;
}

/* footer */
.footer {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 80px;
}
.address {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}
.address_logo {
  width: 226px;
  margin-right: 50px;
}
.address_text {
  font-size: 22px;
  line-height: 39px;
  margin: 0px;
  color: black;
}

.copyright {
  text-align: center;
  font-size: 16px;
  margin-top: 70px;
  color: black;
}

/* pagetop */
.pagetop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 125px;
}

/* レスポンシブ ハンバーガー*/
@media screen and (max-width: 1100px) {
  /* jugyou */
  .pc_nav {
    display: none;
  }
  /* ハンバーガー */

  .sp_btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    height: 23px;
    cursor: pointer;
    z-index: 2;
    /* 重なり順を指定 */
  }
  .sp_btn span {
    display: block;
    position: relative;
    top: 10px;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s; /* transitionは状態が変化するまでに何秒かけるか*/
    /* ハンバーガーメニューの切り替え時にtransitionを入れることで0.3かけて切り替わる */
    /* 擬似要素にも同様に追加する */
  }
  /* 擬似要素 */
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    position: absolute;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
    /* 三本線の下の線 */
  }
  .sp_btn span::after {
    top: 10px;
    /* 三本線の上の線　 */
  }
  /* ハンバーガーメニュー閉じる */
  .sp_btn.open span {
    background: transparent;
    /* ハンバーガーメニューの真ん中の線を見えなくする */
  }
  .sp_btn.open span::before {
    bottom: 0;
    /* 先ほどずらした三本線の上下の線を元に戻す */
    transform: rotate(45deg);
    /* 回転させるプロパティ。45度回転 */
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
    /* 下の線も戻してから次は135度回転 */
  }

  /* ハンバーガーメニュー */
  .sp_nav {
    position: absolute; /*  好きな位置に配置*/
    top: 0;
    left: 0; /*  topとleftを０で右上に指定*/
    width: 100%; /* 横幅100％ */
    height: 100vh; /* デバイスの高さ100％を100vhとする*/
    background: rgba(0, 0, 0, 0.8);
    /* rgbaアルファを入れることによって透過さえられる。0.8だから80%薄くしている */
    z-index: 1;
    /* レイヤーの重なり順を指定 */
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column; /* flex-direction=どの方向に並べますか */
    /* columnにすることによって縦に並ぶ */
    /* flex-direction: columnにすることによって下のjustifyやalineの上下左右が入れ替わる */
    justify-content: center; /* 上下を真ん中 */
    align-items: center; /* 左右を真ん中 */
    height: 100%; /* 高さ100% */
  }
  .sp_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
  }
  .lead_body {
    font-size: 60px;
  }
  .about_heading {
    font-size: 30px;
  }
  .lead_foot {
    font-size: 18px;
  }
}

/* レスポンシブSP */
@media screen and (max-width: 767px) {
  /* header */
  .header_wrap h1 {
    width: 187px;
  }
  /* lead */
  .lead {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .lead_top {
    font-size: 17px;
    margin-bottom: 25px;
  }
  .lead_body {
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
  .lead_foot {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 20px;
  }
  .lead_sp_only {
    display: block;
  }

  /* about */
  .about_wrap h2 {
    display: none;
  }
  .about_sp_only h2 {
    display: block;
  }
  .about {
    display: block;
    margin: 0px;
    padding: 0px;
  }
  .about h2 {
    margin: 0 auto;
    padding-bottom: 17px;
    width: 160px;
  }
  .about_img {
    display: none;
  }
  .about_heading {
    font-size: 36px;
    line-height: 1.25;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .about_text {
    font-size: 16px;
    line-height: 1.75;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about_img_sp {
    display: block;
  }
  .about_wrap {
    width: 100%;
    margin-left: 0px;
  }
  .about_heading p {
    margin-right: 20px;
  }

  /* menu */
  .menu {
    padding-top: 50px;
  }
  .menu h2 {
    width: 87px;
    padding-bottom: 18px;
  }
  .menu h3 {
    margin-top: -5px;
  }
  .menu ul {
    /* imgとtextが揃ってない */
    display: block;
    padding: 0px;
  }
  .menu li {
    width: 100%;
    /* widthをpxで指定すると左右に余白ができてしまうので、レスポンシブでは100%にする */
    /* pc版の.menu_li imgにwidth100%を入れることでSP版も横幅いっぱいに表示される */
    /* width:100%にpaddingを入れると外側に余白ができてしまいスクロールの原因になる */
    padding-left: 37px;
    padding-right: 37px;
    box-sizing: border-box;
    /* paddingを入れる場合は、box-sizing:border-box;を入れることで要素の幅高さにpaddingを含むことができる*/
    margin: 0 auto;
  }
  .menu li p {
    font-size: 17px;
    line-height: 1.58;
    padding-bottom: 80px;
    margin-top: 30px;
  }
  /* gallery */
  .gallery {
    padding-top: 0px;
  }

  .gallery h2 {
    width: 142px;
    padding-bottom: 15px;
  }
  .slick-slide img {
    width: 100%;
  }
  .slick-next {
    margin-right: 20px;
  }
  .slick-prev {
    margin-left: 20px;
  }

  /* event */
  .event {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .event_logo h2 {
    width: 100px;
    padding-bottom: 15px;
  }
  .event ul {
    padding: 20px;
  }
  .event ul li {
    display: block;
    margin: 0;
    font-size: 16px;
    margin-left: 0px;
  }
  .event ul li + li {
    /* 隣接セレクタ（＋）を使うことでliに余白を取ることができる */
    margin-top: 20px;
  }
  .event time {
    display: block;
    margin-bottom: 5px;
  }
  .event a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* 上の3行の省略•••にするタグはaタグに指定してあげる */
  }
  /* aタグもtimeタグもインライン要素で横並びの性質を持っているのでどちらにもdisplay:blockをかける */
  .text_wrap div {
    margin-left: 10px;
    text-align: left;
  }
  .text1 p {
    margin-left: 30px;
    text-align: left;
    border-bottom: 5px solid #4f260b;
  }
  .text1 {
    display: block;
  }

  /* access */
  .access h2 {
    width: 125px;
    margin-bottom: 5px;
  }
  .access {
    padding-top: 25px;
  }
  .access_map if {
    height: 190px;
  }
  .access_map iframe {
    height: 190px;
  }
  .footer {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .address {
    display: block;
  }
  .address_logo {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .address_text {
    font-size: 18px;
    line-height: 1.72;
  }
  .copyright {
    margin-top: 30px;
    padding-bottom: 34px;
  }

  .pagetop {
    bottom: 10px;
    right: 10px;
    width: 100px;
  }
}
