@charset "utf-8";

/* リセットcss */
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #232323;
  background: #f2eee7;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
body {
  overflow-x: hidden;
}
/* リセットcss */

/* header */
.header_logo {
  width: 120px;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 3%;
  width: 100%;
  box-sizing: border-box;
}
.pc_nav ul {
  display: flex;
  width: 670px;
}
.pc_nav ul li {
  margin-right: 35px;
}
.fv {
  height: 690px;
  display: table-cell;
  vertical-align: middle;
}
.sp_nav,
.sp_btn {
  display: none;
}

/* copyright */
.copyright {
  width: 155px;
  height: 14px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
}
