@charset "utf-8";
/* リセットcss */
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #232323;
  background: #f2eee7;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
/* リセットcss */

/* header */

.header_logo {
  width: 120px;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 3%;
  width: 100%;
  box-sizing: border-box;
}
.pc_nav ul {
  display: flex;
  width: 670px;
}
.pc_nav ul li {
  margin-right: 35px;
}
.mv {
  height: 690px;
  display: table-cell;
  vertical-align: middle;
}
.mv_inner {
  width: 100%;
  height: 50px;
  display: contents;
}
.scroll {
  display: block;
  padding-top: 30px;
  position: relative;
  text-align: center;
}
.scroll img {
  width: 81px;
  margin: 0 auto;
}
.scroll::before {
  animation: scroll 3.5s infinite;
  border: solid #000;
  border-width: 0 0 2px 2px;
  content: "";
  display: inline-block;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
}
@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  80% {
    transform: rotate(-45deg) translate(-30px, 30px);
  }
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.header .mv {
  width: 100%;
  height: 75vh;
}

/* concept */

.concept {
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 285px;
}
.concept p {
  margin: 0 auto;
  margin-top: 160px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 1.95;
  font-family: Noto Sans CJK JP;
}

/* works */
.home-works {
  width: 1000px;
  margin: 0 auto;
}
.home-works_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-works h2 {
  width: 76px;
  position: absolute;
  left: calc(50% + 500px);
}

.home-works_wrap li {
  width: 45%;
  height: 450px;
  margin-bottom: 100px;
}
a.btn_works {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 50px;
  margin: 0 0 0 auto;
  padding: 1rem 4rem;
  font-weight: bold;
  background: #232323;
  color: #f2eee7;
  transition: 0.3s;
  margin-top: 25px;
  border: #232323 solid 2px;
}
a.btn_works:hover {
  color: #232323;
  background: #fffe3e;
}

/* skill */
.skill {
  width: 1000px;
  margin: 0 auto;
}
.skill_wrap {
  margin-top: 290px;
  margin-bottom: 275px;
}
.skill h2 {
  width: 76px;
  position: absolute;
  left: calc(50% - 576px);
}
.skill_head {
  margin-bottom: 90px;
}
.skill_head p {
  font-size: 16px;
  line-height: 2.25;
  text-align-last: right;
}
.skill_img_right {
  width: 14.6%;
  float: right;
  margin-right: 190px;
}
.skill_img_center {
  width: 33.82%;
  margin: 0 auto;
  margin-top: 182px;
}
.skill_img_left {
  width: 15.7%;
  margin-left: 180px;
  margin-top: -107px;
  margin-bottom: 91px;
}
.skill_foot p {
  font-size: 16px;
  line-height: 2.25;
}

/* about */
.about {
  width: 1000px;
  margin: 0 auto;
}
.about h2 {
  width: 76px;
  position: absolute;
  left: calc(50% + 500px);
}

.about_wrap {
  display: flex;
}

.about_wrap p {
  font-size: 17px;
  line-height: 2.11;
  letter-spacing: 0.05em;
  margin: 100px 0 100px 110px;
}
.about_wrap img {
  max-width: 400px;
  height: 500px;
}
.about_wrap_inner img {
  width: 260px;
  height: 146px;
  margin-left: 200px;
}

a.btn_about {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 50px;
  margin: 0 0 0 auto;
  padding: 1rem 4rem;
  font-weight: bold;
  background: #232323;
  color: #f2eee7;
  transition: 0.3s;
  margin-top: 110px;
  margin-bottom: 290px;
  border: #232323 solid 2px;
}
a.btn_about:hover {
  color: #232323;
  background: #fffe3e;
}

/* contact */

.contact {
  width: 100%;
  display: flex;
  background-color: #fffe3e;
  text-align: center;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.contact h2 {
  background-color: #fffe3e;
  width: 400px;
}

.contact_wrap p {
  font-size: 16px;
  line-height: 1.56;
  background-color: #fffe3e;
  margin-bottom: 35px;
}
.contact_wrap {
  margin-left: 70px;
}

.contact_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #232323;
  font-size: 20px;
  border-radius: 0px;
  height: 70px;
  font-weight: bold;
  border: 2px solid #232323;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #fffe3e;
}

.contact_btn:hover {
  box-shadow: 0 0 #333;
  color: #232323;
  background-color: #fffe3e;
}
/* copyright */
.copyright {
  width: 155px;
  height: 14px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
}
