@charset "utf-8";

/* リセットcss */
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #232323;
  background: #f2eee7;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
/* リセットcss */

/* header */

.header_logo {
  width: 120px;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 3%;
  width: 100%;
  box-sizing: border-box;
}
.pc_nav ul {
  display: flex;
  width: 670px;
}
.pc_nav ul li {
  margin-right: 35px;
}
.fv_wrap {
  position: relative;
}

.fv_text {
  width: 49.2%;
  height: 380px;
  position: absolute;
  top: 25px;
  left: 25px;
}

.text_inner p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.text_inner {
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}
a.btn_home {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 50px;
  margin: 0 0 0 auto;
  padding: 1rem 4rem;
  font-weight: bold;
  background: #232323;
  color: #f2eee7;
  transition: 0.3s;
  margin-top: 100px;
  margin-bottom: 100px;
  border: #232323 solid 2px;
}
a.btn_home:hover {
  color: #232323;
  background: #fffe3e;
}

.copyright {
  width: 155px;
  height: 14px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
}
